:root{
    --fuenteFooter : 'Calligraffitti', sans-serif;
    --fuenteParrafos: 'Space Grotesk', sans-serif;
    --fuenteLogo: 'Caveat', sans-serif;
    --colorBlanco: #FFF;
    --colorNegro: #000000;
    --grisOscuro: #333333;
    --colorOscuro:#233738;
    --colorNaranja:#d18f53;
    --colorAzul:#8cccf0;
    --colorAzulClaro:#eff9fb;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; /*habilita que 1rem sean 10px*/
}

/* https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
/*PARA QUE EL PADDING NO SEA UN PROBLEMA*/
*, *:before, *:after {
    box-sizing: inherit;
  }

  body{
    display: grid;
    font-family: var(--fuenteParrafos);
    font-size: 2rem;
    line-height: 2; /* INTERLINEADO*/
  }




  /* ***GLOBALES*** */
  .contenedor{
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
  }

  a{
    text-decoration: none;
  }

  h1{
    font-size: 7rem;

  }

  img{
    max-width: 100%;
  }

  p{
    font-size: 1.5rem;
    font-family: var(--fuenteParrafos);
  }

  




  /* ***UTILIDADES *** */
  .no-margin{
    margin: 0;
  }

  .no-padding{
    padding: 0;
  }

  .centrar-texto{
    text-align: center;
  }





  
  /* ***LOGO*** */
  .logo{
    color: var(--colorBlanco);
    font-family: var(--fuenteLogo);
    font-size: 10rem;
  }

  .logo__bold{
    font-weight: 700;
    font-size: 9rem;
  }

  .logo-dashboard{
    color: var(--colorNegro);
  }

  .logo__nombre{
    font-size: 4rem;
    margin: 0 3rem 0 0;
  }

  @media (min-width: 450px) {
    .logo__nombre{
      font-size: 6.5rem;
      font-weight: 400;
    }
  }



  /* HEADER */

  .header-dashboard{
    background-image: url(../img/dashboard.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    max-height: 100%;
  }

  .contenido-header{
    color: var(--colorAzul);
    font-family: var(--fuenteParrafos);
    text-transform: uppercase;
  }

  .contenido-header .title{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    font-family: var(--fuenteParrafos);
  }

  @media (min-width:450px) {
      .contenido-header .title{
        font-size: 5rem;
        justify-content: end;
      }
  }


  .navegacion{
    display: none;
  }

  .navegacion a{
    color: var(--colorAzulClaro);
    display: flex;
    justify-content: center;
    font-weight: bold;
  }

  .barra{
    display: grid;
    justify-items: center;
  }

  @media (min-width: 768px) {
    .barra{
      display: grid;
      grid-template-columns: repeat(2,1fr);
    }

    .navegacion{
      padding: 3rem 0;
      margin-left: auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 10rem;
    }

    .navegacion a{
      color: var(--colorNegro);
      margin-right: 2rem;
    }

    .navegacion a:last-of-type{
      margin-right: 0;
    }
  }

  

  /* MENU-MOBILE  */

  .mobile-menu img{
    height: 5rem;
    width: 5rem;
  }


@media (min-width: 768px) {
  .mobile-menu{
    display: none;
  }
}

.mostrar{
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
    .mostrar{
      flex-direction: row;
    }
}




  /* MAIN */

  .main{
    background: rgb(34,51,57);
    background: linear-gradient(180deg, rgba(34,51,57,1) 0%, rgba(101,145,168,1) 5%, rgba(202,223,232,1) 39%);
    max-height: 100%;
    padding: 5rem;
    margin-top: auto;

  }

  @media (min-width: 400px) {
      .main{
        height: 100%;
      }
  }
  .contenido-main{
    text-align: center;
  }

  @media (min-width: 480px) {
      .contenido-main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        text-align: center;
      }
  }

  .boton{
    margin-bottom: 2rem;
    padding: 2.5rem;
    font-weight: bold;
    background-color: var(--colorOscuro);
    transition: background-color 0.8s;
    border-radius: 1rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
   
  }

  .main .boton:hover{
    cursor: pointer;
  }

  .boton a{
    color: var(--colorBlanco);
    font-family: var(--fuenteParrafos);
    font-size: 3rem;
    transition: color 0.8s;
  }
  .main .boton a:hover{
    color: var(--colorAzul);
  }

  .main-contacto{
    height: 100%;
  }

  .main-dashboard{
    height: 80rem;
  }

  .img-dashboard{
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 70%;
  }

  .img-dashboard img,
  .img-index {
    border-radius: 8px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
  }

  

  /* FORMULARIO */

  .titulo{
    text-transform: uppercase;
    text-align: center;
  }

  .formulario input:not([type="submit"]){
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid gray;
  }


  textarea{
    width: 100%;
  }

  fieldset{
    margin-bottom: 2rem;
  }




  /* BOTON PRIMARIO */

  .boton-primario{
    padding: 1rem 2rem;
    background-color: var(--colorOscuro);
    color: var(--colorAzul);
    border-radius: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }

  .boton-primario:hover{
    cursor: pointer;
  }




  /* FOOTER DASHBOARD */

  .footer-dash{
    background-color: var(--colorOscuro);
    height: 8rem;
  }
  
  .barra-footer{
    max-height: 100%;
    display: flex;
    align-items: center;
  }

  .barra-footer p{
    padding: 1rem;
    font-family: var(--fuenteParrafos);
    text-transform: uppercase;
    color: var(--colorAzul);
    font-size: 2rem;
  }

  .barra-footer .navegacion{
    height: auto;
    padding:2rem;
    display: flex;
    justify-content: right;
    gap: 2rem;
  }


  .barra-footer .navegacion a{
    font-family: var(--fuenteParrafos);
    text-transform: uppercase;
    color: var(--colorAzul);
  }

